@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Open Sans",sans-serif;
}
img{
    user-select: none;
    -webkit-user-drag: none;
}
body{
    background-color: rgb(18, 18, 18);
    display: flex;
    justify-content: center;
}
.whole-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
header img{
    width: 24px;
    margin-bottom: 10px;
    transition: width 0.15s ease;
}
header p{
    width: 210px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1.5px;
}
.email-sec{
    display: flex;
    flex-direction: column;
}
.email-sec p{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}
.email-sec input{
    padding: 12px;
    width: 300px;
    color: white;
    font-family: inherit;
    font-size: 15px;
    background-color: inherit;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: border-color 0.15s ease;
}
.email-sec input::placeholder{
   font-family: "Open Sans";
   font-size: 15px;
   color: rgb(175, 175, 175);
   font-weight: 500;
}
.email-sec input:hover{
    border-color: white;
}

.phone-number{
    font-size: 13px;
    color: rgb(30, 215, 96);
    font-weight: 600;
}
.phone-number-div{
    margin-bottom: 20px;
}
.next-button{
    font-family: inherit;
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(30, 215, 96);
    border: none;
    padding: 12px 0px;
    border-radius: 50px;
    transition: background-color 0.15s ease;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.next-button:hover{
    cursor: pointer;
    background-color: rgb(59, 228, 119);
}
.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.divider::before,.divider::after{
    content: "";
    flex: 1;
    border-bottom: 1px solid gray;
}
.divider span{
    margin: 0px 10px;
    font-size: 14px;
}
.platform{
    font-family: inherit;
    font-size: 15px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 100px;
    font-weight: bold;
    transition: border-color 0.15s ease;
    user-select: none;
}
.platform img{
    width: 21px;
    margin-right: 60px;
}
.platform:hover{
    border-color: white;
    cursor: pointer;
}
.signup-sec{
    margin-bottom: 30px;
}
.divi-2{
    height: 0.5px;
    background-color: rgb(46, 46, 46);
}
footer{
    display: flex;
    margin-top: 30px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.already-have{
    color: rgb(170, 170, 170);
    margin-bottom: 22px;
    font-size: 15.5px;
    font-weight: 500;
}
.already-have a{
    font-weight: 500;
}
.terms-text{
    font-size: 10.5px;
    color: rgb(170, 170, 170);
}
.terms-text a{
    color: inherit;
}
@media screen and (min-width:768px)
{
    header img{
        width: 42px;
        margin-bottom: 20px;
    }
    header p{
        font-size: 44px;
        width: 310px;
    }
    .terms-text{
        font-size: 12px;
    }
}
